PORT=5000
MONGODB_URI=mongodb+srv://anandsri682_db_user:VAzxgxJArFhjQrqM@cluster0.qu0mces.mongodb.net/vegetables_demo?retryWrites=true&w=majority
JWT_SECRET=jamalpurs-secret-key-2026
FRONTEND_URL=https://vegetables-demo.vercel.app

